node_modules
.git
.env

*.backup*
bot.before-*.js

patch-*.js

bundle.json

jk-test-output*
jk-report-renderer-before-*.js
jk-report-renderer-final.js
jk-report-renderer-v2.js
jk-report-renderer.js

copyleaks